body{
    background-color: hsl(30, 38%, 92%);
  }
  .text{
    font-size: 14px;
    color:hsl(210, 7%, 46%);
    font-family:Fraunces;
  }
  h1{
    line-height: 30px;
    font-weight: 700;
    font-size: 35px;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mainArea{
    width: 600px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
  }
  .rightContent{
    margin: 35px;
    margin-top: 20px;
  }
  .subText{
    line-height: 25px;
    font-size: 15px;
    margin: 0;
  }
  .perfume-text{
    font-family: montserrat;
    font-size: 14px;
    letter-spacing: 4px;
  }
  .price{
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight:700;
  }
  .priceArea{
    display: flexbox;
    align-items: center;
  }
  button{
    background-color:hsl(160, 41%, 17%); 
    margin-left: 0px; 
    width: 220px; 
    height: 50px; 
    color: aliceblue; 
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%);}